#忽略部分的项目文件的配置
DataX/adswriter/target/*
DataX/common/target/*
DataX/core/target/*
DataX/drdsreader/target/*
DataX/drdswriter/target/*
DataX/elasticsearchwriter/target/*
DataX/ftpreader/target/*
DataX/ftpwriter/target/*
DataX/hbase11xreader/target/*
DataX/hbase11xsqlwriter/target/*
DataX/hbase11xwriter/target/*
DataX/hbase094xreader/target/*
DataX/hbase094xwriter/target/*
DataX/hdfsreader/target/*
DataX/hdfswriter/target/*
DataX/mongodbreader/target/*
DataX/mongodbwriter/target/*
DataX/mysqlreader/target/*
DataX/mysqlwriter/target/*
DataX/ocswriter/target/*
DataX/odpsreader/target/*
DataX/odpswriter/target/*
DataX/oraclereader/target/*
DataX/oraclewriter/target/*
DataX/ossreader/target/*
DataX/osswriter/target/*
DataX/otsreader/target/*
DataX/otsstreamreader/target/*
DataX/otswriter/target/*
DataX/plugin-rdbms-util/target/*
DataX/plugin-unstructured-storage-util/target/*
DataX/postgresqlreader/target/*
DataX/postgresqlwriter/target/*
DataX/rdbmsreader/target/*
DataX/rdbmswriter/target/*
DataX/sqlserverreader/target/*
DataX/sqlserverwriter/target/*
DataX/streamreader/target/*
DataX/streamwriter/target/*
DataX/transformer/target/*
DataX/txtfilereader/target/*
DataX/txtfilewriter/target/*

